.todo-container {
  display: block;
  position: relative;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  margin: 5px;
  outline: none;
  overflow: auto;
  overflow-wrap: break-word;
}
