.todo-item {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: fit-content;
  outline: none;
  overflow: hidden;
  overflow-wrap: break-word;
}

.custom-checkbox {
  display: inline-flex;
  align-items: start;
  cursor: pointer;
  user-select: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom-checkbox input[type="checkbox"] {
  display: none; /* gizle */
}

.custom-checkbox .checkmark {
  width: 18px;
  height: 18px;
  border: 2px solid #555555;
  border-radius: 4px;
  position: relative;
  display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.todoItem-delete-button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 5px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
}

.todoItem-delete-button:hover {
  background-color: rgb(205, 205, 205);
}

.todoItem-delete-button:active {
  background-color: transparent;
}

.todoItem-delete-button img {
  position: absolute;
  width: 90%;
  height: 90%;
  margin: 5%;
}
